@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #caedf7;
    --color-text: #000;
    --primary-color: #dd2222;
}

body {
    background: var(--color-bg);
    height: 100vh;
    width: 100vw;
}

.checkbox-style {
    display: flex;
    gap: 8px;
    font-size: 1.25rem;
}

::-moz-selection {
    color: white;
    background: var(--primary-color);
}

::selection {
    color: white;
    background: var(--primary-color);
}
