@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #caedf7;
    --color-text: #000;
    --primary-color: #dd2222;
}

body {
    background: var(--color-bg);
    height: 100vh;
    width: 100vw;
}

.checkbox-style {
    display: flex;
    gap: 8px;
    font-size: 1.25rem;
}

::-moz-selection {
    color: white;
    background: var(--primary-color);
}

::selection {
    color: white;
    background: var(--primary-color);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    cursor: pointer;
}
